@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('./SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    padding: 1rem;
    color: rgb(226, 216, 207);
}

.picContainer {
    Display: flex;
    Height: 100vh;
    Width: 100vw; 
    Align-Items: center;
    Justify-Content: center;
}

.loadinPic {
    width: 6rem;
    height: 6rem;
}