.input-group-text {
    color: #e2d8cf;
    border: none;
    background-color: transparent;
}

.searchInput {
    width: 50%;
    padding: 0.5rem;
    border-color: #c0691e;
    border-radius: 0.5rem;
}